@charset "utf-8";
/* CSS Document */

html, body {
  font-family: montserrat;
}

body {
  font-size: 0.8rem;
}

.col-0 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 4.166666%;
  flex: 0 0 4.166666;
  max-width: 4.166666%;
}

.col-md-0 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 4.166666%;
  flex: 0 0 4.166666;
  max-width: 4.166666%;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #1e4b61;
}

#weevo {
  font-weight: 600;
}

.nav-link {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: -2px
}

.navbar {
  padding: 0rem 1rem;
  border-bottom: 2px solid #f2cf56;
  background-color: #1E4B61;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

h1, .h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

h2, .h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

h3, .h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4, .h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

h5, .h5 {
  font-size: 1.1rem;
  font-weight: 600;
}

a {
  color: #1e4b61;
}

.btn-primary {
  background-color: #1e4b61;
  border-color: #1e4b61;
}

.culture-badge{
    position: absolute;
    background-color: tomato;
    height:1.5rem;
    top:0.5rem;
    left:0.5rem;
    width:3.8rem;
    text-align: center;
    line-height: 1.5rem;;
    font-size: 0.8rem;
    border-radius: 5%;
    color:white;
}

.environment-badge{
    position: absolute;
    background-color: forestgreen;
    height:1.5rem;
    top:0.5rem;
    left:0.5rem;
    width:6.1rem;
    text-align: center;
    line-height: 1.5rem;;
    font-size: 0.8rem;
    border-radius: 5%;
    color:white;
}

.issues-badge{
    position: absolute;
    background-color: dodgerblue;
    height:1.5rem;
    top:0.5rem;
    left:0.5rem;
    width:3.4rem;
    text-align: center;
    line-height: 1.5rem;;
    font-size: 0.8rem;
    border-radius: 5%;
    color:white;
}

.feature-badge{
    position: absolute;
    background-color: rebeccapurple;
    height:1.5rem;
    top:0.5rem;
    left:0.5rem;
    width:3.8rem;
    text-align: center;
    line-height: 1.5rem;;
    font-size: 0.8rem;
    border-radius: 5%;
    color:white;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

article p {
	font-size: .9rem;
}

#footer {
  font-size: 1.25rem;
}

.fab {
  padding: 9.5px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fab:hover {
  opacity: 0.7;
  text-decoration: none;
  color: white;
}

.fa-facebook-f {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #bc2a8d;
  color: white;
} 

.fa-youtube {
  background: #ff0000;
  color: white;
}

@media screen and (min-width: 0px) {
  #weetrip-team {
	border-top: 1px solid #CCC;
	padding-top: 1rem;
  }
}

@media screen and (min-width: 992px) {
  #weetrip-team {
	border-left: 1px solid #CCC;
	border-top: 0px;
	padding-top: 0rem;
  }
}